<!-- banner -->
<app-banner [imageUrl]="'assets/1x/servicesBg.png'" heading="Services"></app-banner>
<!-- aboutUs -->
<div class="about mb-5">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-4 wow animate__animated animate__fadeInLeft">
                <div class="aboutImg">
                    <img src="assets/1x/car3.png" alt="">
                </div>
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center wow animate__animated animate__fadeInRight">
                <h4 class="whiteColor poppins-extrabold">Pick 01</h4>
                <h6 class="whiteColor poppins-extrabold">2-6 Persons</h6>
                <p class="whiteColor poppins-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto in laboriosam at optio. Ipsa, tempore itaque pariatur earum commodi possimus eos ex beatae odio doloribus dicta dolores debitis voluptates perferendis recusandae, cum assumenda omnis mollitia nostrum porro quod quibusdam delectus! Commodi porro eligendi doloremque, molestias sit delectus consectetur saepe nemo?
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto in laboriosam at optio. Ipsa, tempore itaque pariatur earum commodi possimus eos ex beatae odio doloribus dicta dolores debitis voluptates perferendis recusandae, cum assumenda omnis mollitia nostrum porro quod quibusdam delectus! Commodi porro eligendi doloremque, molestias sit delectus consectetur saepe nemo?
            
                </p>
                <button class="btn-hover color-1 border10 poppins-regular mt-5 wow animate__animated animate__fadeInUp">Book Now</button>
            </div>
        </div>
        <div class="row mt-5 mb-5 flex-row-reverse">
            <div class="col-lg-4 wow animate__animated animate__fadeInRight">
                <div class="aboutImg">
                    <img src="assets/1x/car3.png" alt="">
                </div>
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center wow animate__animated animate__fadeInLeft">
                <h4 class="whiteColor poppins-extrabold">Pick 01</h4>
                <h6 class="whiteColor poppins-extrabold">2-6 Persons</h6>
                <p class="whiteColor poppins-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto in laboriosam at optio. Ipsa, tempore itaque pariatur earum commodi possimus eos ex beatae odio doloribus dicta dolores debitis voluptates perferendis recusandae, cum assumenda omnis mollitia nostrum porro quod quibusdam delectus! Commodi porro eligendi doloremque, molestias sit delectus consectetur saepe nemo?
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto in laboriosam at optio. Ipsa, tempore itaque pariatur earum commodi possimus eos ex beatae odio doloribus dicta dolores debitis voluptates perferendis recusandae, cum assumenda omnis mollitia nostrum porro quod quibusdam delectus! Commodi porro eligendi doloremque, molestias sit delectus consectetur saepe nemo?
            
                </p>
                <button class="btn-hover color-1 border10 poppins-regular mt-5 wow animate__animated animate__fadeInUp">Book Now</button>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-4 wow animate__animated animate__fadeInLeft">
                <div class="aboutImg">
                    <img src="assets/1x/car3.png" alt="">
                </div>
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center wow animate__animated animate__fadeInRight">
                <h4 class="whiteColor poppins-extrabold">Pick 01</h4>
                <h6 class="whiteColor poppins-extrabold">2-6 Persons</h6>
                <p class="whiteColor poppins-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto in laboriosam at optio. Ipsa, tempore itaque pariatur earum commodi possimus eos ex beatae odio doloribus dicta dolores debitis voluptates perferendis recusandae, cum assumenda omnis mollitia nostrum porro quod quibusdam delectus! Commodi porro eligendi doloremque, molestias sit delectus consectetur saepe nemo?
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto in laboriosam at optio. Ipsa, tempore itaque pariatur earum commodi possimus eos ex beatae odio doloribus dicta dolores debitis voluptates perferendis recusandae, cum assumenda omnis mollitia nostrum porro quod quibusdam delectus! Commodi porro eligendi doloremque, molestias sit delectus consectetur saepe nemo?
            
                </p>
                <button class="btn-hover color-1 border10 poppins-regular mt-5 wow animate__animated animate__fadeInUp">Book Now</button>
            </div>
        </div>
    </div>
</div>